{% extends 'accounts/base.html' %}
{% load humanize %}
{% load static %}
{% block assets %}
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
 



{% endblock %}
{% load detect %}

{% block content %}

	<section class="py-5 my-5">
		<div class="container">
			<h1 class="mb-5">Account Settings</h1>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<div class="img-circle text-center mb-3">
							{% if profile.picture %}
							<img src="{{profile.picture.url}}" alt="Image" class="shadow">
							{% else %}
							<img src="" alt="Image" class="shadow">
							{% endif %}
						</div>
						<h4 class="text-center">{{request.user.first_name}} {{request.user.last_name}}</h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="general-active">
							<i class="fa fa-home text-center mr-1"></i> 
							General 
						</a>
						<a class="nav-link" id="password-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="password" aria-selected="false">
							<i class="fa fa-user text-center mr-1"></i> 
							Profile Change
						</a>
						<a class="nav-link" id="security-tab" data-toggle="pill" href="#password" role="tab" aria-controls="security" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							Password
						</a>
						<a class="nav-link" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">
							<i class="fa fa-tv text-center mr-1"></i> 
							Help
						</a>
						<a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
							<i class="fa fa-bell text-center mr-1"></i> 
							Report a Problem
						</a>
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade bg-white show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						<h3 class="mb-4">Account Settings</h3>
						<p id="message" style="column-rule: green;margin:10px;"></p>


                  <div id="general">

					hello world
				  </div>
						
					
					</div>
					<div class="tab-pane fade bg-white" id="password" role="tabpanel" aria-labelledby="password-tab">
						<h3 class="mb-4">Password Settings</h3>
						<div class="row">
							
								
								{% for fm in form  %}
									<div class="col-md-6">
										<div class="form-group">
											{{fm.as_p}}
											
									  </div>
									</div>
								{% endfor %}
									
								
							
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>New password</label>
								  	<input type="password" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Confirm new password</label>
								  	<input type="password" class="form-control">
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade bg-white" id="security" role="tabpanel" aria-labelledby="security-tab">
						<h3 class="mb-4">Security Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Login</label>
								  	<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Two-factor auth</label>
								  	<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="recovery">
										<label class="form-check-label" for="recovery">
										Recovery
										</label>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade bg-white" id="application" role="tabpanel" aria-labelledby="application-tab">
						<h3 class="mb-4">Application Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="app-check">
										<label class="form-check-label" for="app-check">
										App check
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
										<label class="form-check-label" for="defaultCheck2">
										Lorem ipsum dolor sit.
										</label>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade bg-white" id="notification" role="tabpanel" aria-labelledby="notification-tab">
						<h3 class="mb-4">Notification Settings</h3>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification1">
								<label class="form-check-label" for="notification1">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium accusamus, neque cupiditate quis
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification2" >
								<label class="form-check-label" for="notification2">
									hic nesciunt repellat perferendis voluptatum totam porro eligendi.
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification3" >
								<label class="form-check-label" for="notification3">
									commodi fugiat molestiae tempora corporis. Sed dignissimos suscipit
								</label>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% block js %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>


const gform=document.getElementById('generalform');
var message=document.getElementById('message');

gform.addEventListener('submit',function(e){
    e.preventDefault();
	
	let first_name=document.getElementById('first_name').value;
	let last_name=document.getElementById('last_name').value;
	let email=document.getElementById('email').value;
	let db=document.getElementById('db').value;
	let currentdb=document.getElementById('currentdb').innerText;
    //fixing date related issue
	function convert(str) {
			var date = new Date(str),
				mnth = ("0" + (date.getMonth() + 1)).slice(-2),
				day = ("0" + date.getDate()).slice(-2);
			return [date.getFullYear(), mnth, day].join("-");
		}

	if (!db){
		
		 db=convert(currentdb)

	}

    
    function dateformate(dateString){
		var dateParts = dateString.split("-");
        var dateObject = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]); 
		return dateObject.toDateString()
	}
    
    let formData =new FormData()
    formData.append('first_name',first_name)
	formData.append('last_name',last_name)
	formData.append('email',email)
	formData.append('db',db)
	formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
	fetch("{% url 'settings' %}?general=update",{
		method:"POST",
		body:formData
	}).then(response =>response.json())
	  .then(function(data){
		
		let cdb=document.getElementById('currentdb');
        message.innerHTML=data.information;
		newdate=dateformate(db);
        cdb.innerText=newdate;
     
		setTimeout(function(){
          message.innerHTML='';
		},2000)

	     })
	  .catch(function(error){
		console.error(error)
	})

})

//profile filter//

let gene



</script>


{% endblock %}

{% endblock %}