{% extends 'accounts/base.html' %}
{% load humanize %}
{% load static %}
{% block assets %}
	 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	 <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/newstyle.css' %}">



{% endblock %}
{% load detect %}

{% block content %}

<div class="wrapper">


<div class="sidebar">


						<ul>
							<li><a href="/" style="background-color: pink;"><i class="material-icons">home</i>Home</a></li>
							<li> <a href="{% url 'profile' %}" class="">
								<i class="material-icons">perm_identity</i>
							 Profile - <strong>{{ request.user }}</strong>
							</a></li>
							<li><a class=" js-modal-trigger" data-target="modal-js-example">
								<i  class="material-icons ">add_a_photo</i>
								New Post
							</a></li>
							<li> <a href="{% url 'working' %}" class="">
								<i  class="material-icons">photo_filter</i>
								New Story
							</a></li>
							<li><a href="?following=view"><i  class="material-icons">group_add</i>Followings</a></li>
							<li><a href="?follower=view"><i  class="material-icons">group</i>Followers</a></li>
							<li><a href="{% url 'profilefavourite' request.user %}"> <i  style="color:red !important" class="material-icons">favorite</i> Saved Post</a></li>
						</ul>
			 
						<div class="recent">
						<h1>Your recent followers</h1>
						
						{% if followers %}
						
						{% for follower in followers  %}                   
							<p><a href="{% url 'profile' follower.follower %}"><i  class="material-icons">person_add</i> {{follower.follower}} Followed You!</a></p>
							{% endfor %}
						{% else %}
							<p>You have no follower </p>
							<img src="{% static 'img/empty.jpg' %}" alt="">
						{% endif %}
						
						</div>
		
</div>

<div class="center">

		<div class="new" >

				<div class="cardbox">
		
					 
					{% if messages %}		 
					{% for message in messages %}
					<div class="{% if message.tags == 'success' %} alert alert-success {% else %} alert alert-danger {% endif %} mb-0 alert-dismissible fade show" role="alert">
					  <strong>{{ message }}</strong> 
					  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{% endfor %}
					<br>
					{% endif %}

					{% if request.GET.search or request.GET.following or request.GET.follower %}
								
                  <!--  search box start -->
					<div class="search-user bg-light">
						{% if request.GET.following %}
						<h1 class="p-3 m-3 text-center">People You are following</h1>
						{% elif request.GET.follower %}
						<h1 class="p-3 m-3 text-center">Your Followers</h1>
						{% else %}
						<h1 class="p-3 m-3 text-center">Your Results</h1>
                        {% endif %}
						{% if users %}
			 
						{% for user,follow in users %}
            
						<div class="suggestion">
				   
						  <div class="sug-left">
						 <a href="{% url 'profile' user %}"><img src=" 
						 {% if user.picture %}
						   
							{{user.picture.url}} {% else %}  https://bulma.io/images/placeholders/96x96.png   {% endif %}" alt="" style="width:50px; height:50px;object-fit:cover;border-radius:50%;"></a> 
							<a href="{% url 'profile' user %}" style="font-size:16px;">
							{{user.first_name}} {{user.last_name}}
							{% if user.is_verified %}
										 <small class='material-icons ml-2' style="font-size:16px;color:blue;margin-top:5px;">verified</small>
							{% endif %}
							  
							</a>
					  
						 </div> 
					
					 
						
					 
					   {% if not request.user == user and follow == False %} 
						 <div class="follow">
						   
						   <a href="{% url 'following' user %}"> <i class="material-icons">person_add</i><span>Follow</span></a>
					  </div>
					  {% elif not request.user == user and follow == True %}
					  <div class="follow">     
					   <a class="text-success">Followed</span></a>
				   </div>
					  {% endif %}
				   
					 </div>
				   
					  {% endfor %}
				
					 {% else %}
				 <h1 class="ml-2 p-3 text-center">No User Found</h1>
				
					 {% endif %}
						 
					</div>
				<!-- search box end -->
				<br>
				<hr>
				{% endif %}








{% if not users %}		   
			{% if post_items %}      
			{% for post_item,count in post_items.items %}
			

				{% if post_item.post.share %}
	
  <div class="share-box  bg-white ">
      
          <!--Top Post -->
        <div class="post-top d-flex justify-content-between">

           <div class="media">         
            <div class="media-left m-3 mb-0">
              <figure class="image is-48x48">
                {% if post_item.post.user.picture %}
                <img src="{{ post_item.post.user.picture.url }}" alt="Placeholder image" style="border-radius: 50%;width: 80px;height: 50px;">
                {% else %}
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="border-radius: 50%;width: 80px;height: 50px;">
                {% endif %}
              </figure>
            </div>
      
      
            <div class="media-left mt-3">
              {% if post_item.following.first_name %}
              <div class="d-flex justify-content-between align-items-center">
							<a href="{% url 'profile' post_item.following %}"><p class="title is-4 has-text-primary">{{ post_item.following.first_name }} {{ post_item.following.last_name }}</p></a>
							{% if post_item.following.is_verified %}
							<p class='mt-2 ml-2'><span class='material-icons mt-1 ' style="font-size:16px;color:blue;">verified</span></p>
							{% endif %}
							</div>
							
            {% else %}
              <a href="{% url 'profile' post_item.following %}" style="display:inline-block"><p class="title is-4 has-text-primary">{{ post_item.following }}</p></a>
            {% endif %}
            
            <p class="subtitle is-6 pb-0 mb-0">@{{ post_item.following }}</p>
            <p class="subtitle is-6 text-danger" style="font-size:14px !important;font-style: italic;">{{ post_item.post.date|naturaltime}}</p>
          </div>     
            </div>

			{% if request.user == post.post.user %}
                <div class="options m-1 p-1">
                  <button class="btn btn-light border btn-lg px-3 rounded-circle" onclick="alert('We are working on this..');"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></button>
                </div>
           {% endif %}

      </div>
           
           <!--Top Post end-->

        <!--Top body -->
    <div class="post-body">

         <div class="mt-0 mb-0 ml-1 px-1 mt-1"  style="margin-bottom:-20px !important" >
        
          {{ post_item.post.caption|content|safe|truncatewords:20}}

            {% if not post_item.post.caption == post_item.post.caption|truncatewords:20 %}
				            <a href="{% url 'postdetails' post_item.post.id %}">See More</a>
				     {% endif %}
      
         
        </div>  
        
        <div class="share-content">
       	   <div class="card-content">

          <div class="under-share" style="background-color:  black !important;color:white;padding: 10px;border-radius: 20px;">
						<div class="media">
							<div class="media-left">
								<figure class="image is-48x48">
									{% if post_item.post.user.picture %}
									<img src="{{ post_item.post.share.user.picture.url }}" alt="Placeholder image" style="border-radius: 50%;width: 80px;height: 50px;">
									{% else %}
									<img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="border-radius: 50%;width: 80px;height: 50px;">
									{% endif %}
								</figure>
							</div>
				
				
							<div class="media-content">
						 {% if post_item.post.share.user.first_name %}
								<div class="d-flex align-items-center">
									<a href="{% url 'profile' post_item.post.share.user %}"><p class="title is-4 has-text-primary">{{ post_item.post.share.user.first_name }} {{ post_item.post.share.user.last_name }}</p></a>
									{% if post_item.post.share.user.is_verified %}
									<p class='mt-2 ml-2'><span class='material-icons mt-1 ' style="font-size:16px;color:blue;">verified</span></p>
									{% endif %}
								</div>
							   
							{% else %}
								<a href="{% url 'profile' post_item.post.share.user %}" style="display:inline-block"><p class="title is-4 has-text-primary">{{ post_item.post.share.user }}</p></a>
							{% endif %}
							
							<p class="subtitle is-6">@{{ post_item.post.share.user }}</p>
							</div>
							<div class="media-right">
								<a href="{% url 'postdetails' post_item.post.share.id %}">Orginal Post</a>
								<h1>total share: {{count.2 }}</h1>
							</div>
						</div>  
					
						<p> {{ post_item.post.share.caption|content|safe|truncatewords:20}}</p>
						  {% if not post_item.post.share.caption == post_item.post.share.caption|truncatewords:"20" %}
				            <a href="{% url 'postdetails' post_item.post.share.id %}">See More</a>
				     {% endif %}
						<br>
						{% if post_item.post.share.content %}
						<figure class="image is-5by3">
							 <a href="{% url 'postdetails' post_item.post.id %}">
								<img src="{{ post_item.post.share.content.url }}" style="object-fit: contain !important;" alt="Placeholder image">
							</a>
							 
						</figure>
						{% endif %}
					</div> 
       
         </div>


      
       </div>
   </div>

    <div class="post-footer">
      <div class="media ml-2">
          <div class="media-left">
              <i class="material-icons save {% if count.1 == 1 %} has-text-danger {% else %} has-text-primary {% endif %}" style="cursor: pointer;" data="{{post_item.post.id}}">save_alt</i>
              <p class="output">{% if count.1 == 1 %} remove {% else %} save {% endif %}</p> 
          </div>
      
      
      
          <div class="media-left "> 
           <i  class="material-icons likes has-text-primary {% if count.0 == 1 %} has-text-danger {% endif %}" style="cursor: pointer;" data="{{post_item.post.id}}" >favorite_border</i>       
            <p ><span class="count"> {{ post_item.post.likes }}</span> Likes</p>  
          </div>
      
           <div class="media-left"> 
           <a href="{% url 'postdetails' post_item.post.id %}"> <i  class="material-icons  has-text-primary" style="cursor: pointer;" data="{{post_item.post.id}}" >comment</i> </a>      
            <p ><span> {{ count.4 }}</span> Comments</p>  
          </div>
          


              
      </div>
       

        <div class="collapse" id="collapseExample{{post_item.post.id}}">
          <div class="card card-body">
            <form action="{% url 'share' post_item.post.id %}" method="post" class="form-controll p-4 shadow" novalidate>
              {% csrf_token %}
              <label for="caption">Caption</label><br>
              <input type="text" name="caption" placeholder="Type something">
              <input type="submit" value="share" class="btn btn-primary">
            </form>
          </div>
        </div>             
  </div>



</div>


				{% else %}
				<!-- share else -->
			 
	<div class="bg-white ">
          <!--Top Post -->
				<div class="post-top d-flex justify-content-between">
           <div class="media">         
						<div class="media-left m-3 mb-0">
							<figure class="image is-48x48">
								{% if post_item.post.user.picture %}
								<img src="{{ post_item.post.user.picture.url }}" alt="Placeholder image" style="border-radius: 50%;width: 80px;height: 50px;">
								{% else %}
								<img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" style="border-radius: 50%;width: 80px;height: 50px;">
								{% endif %}
							</figure>
						</div>
			
			
						<div class="media-left mt-3">
							{% if post_item.following.first_name %}
							<div class="d-flex justify-content-between align-items-center">
							<a href="{% url 'profile' post_item.following %}"><p class="title is-4 has-text-primary">{{ post_item.following.first_name }} {{ post_item.following.last_name }}</p></a>
							{% if post_item.following.is_verified %}
							<p class='mt-2 ml-2'><span class='material-icons mt-1 ' style="font-size:16px;color:blue;">verified</span></p>
							{% endif %}
							</div>
							
							
						{% else %}
							<a href="{% url 'profile' post_item.following %}" style="display:inline-block"><p class="title is-4 has-text-primary">{{ post_item.following }}</p></a>
						{% endif %}
						
						<p class="subtitle is-6 pb-0 mb-0">@{{ post_item.following }}</p>
						<p class="subtitle is-6 text-danger" style="font-size:14px !important;font-style: italic;">{{ post_item.post.date|naturaltime}}</p>
					</div>		 
			     	</div>
                       
					 
					 {% if request.user == post_item.post.user %}
		 
								<div class="options m-1 p-1">
									<button onclick="alert('We are working on this!')" class="btn btn-light border btn-lg px-3 rounded-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></button>
								</div>
					 {% endif %}				
			</div>
           
           <!--Top Post end-->

			  <!--Top body -->
		<div class="post-body mt-1">


				 <div class=" mb-0 ml-1 px-1 mt-3"  style="margin-bottom:-20px !important" >
				

					{{ post_item.post.caption|content|safe|truncatewords:20}}

					   {% if not post_item.post.caption == post_item.post.caption|truncatewords:"20" %}
				            <a href="{% url 'postdetails' post_item.post.id %}">See More</a>
				     {% endif %}
					
			     
				</div>  
				 <div class="card-content">
					{% if post_item.post.content %}
						<div class="card-image">
					<figure class="image is-5by3">  
						<a href="{% url 'postdetails' post_item.post.id %}" >
							<img src="{{ post_item.post.content.url }}" style="object-fit: contain !important;" alt="Placeholder image">
						</a>    
					</figure>
					 </div>
					{% endif %}
				
			</div>
   </div>

		<div class="post-footer d-flex justify-content-between">
			<div class="footer-lefts overflow-hidden">
			<div class="media ml-2">
					<div class="media-left">
							<i class="material-icons save {% if count.1 == 1 %} has-text-danger {% else %} has-text-primary {% endif %}" style="cursor: pointer;" data="{{post_item.post.id}}">save_alt</i>
							<p class="output">{% if count.1 == 1 %} remove {% else %} save {% endif %}</p> 
					</div>
			
			
			
					<div class="media-left"> 
					 <i  class="material-icons likes has-text-primary {% if count.0 == 1 %} has-text-danger {% endif %}" style="cursor: pointer;" data="{{post_item.post.id}}" >favorite_border</i>       
						<p ><span class="count"> {{ post_item.post.likes }}</span> Likes</p>  
					</div>
			
		

						<div class="media-left">
							{% if post_item.post.share %}
							 <a href="{% url 'share' post_item.post.share.id %}"> <i class="material-icons  has-text-primary {% if count.3 %} has-text-danger {% else %} has-text-primary {% endif %} "
									style="cursor: pointer;">redo</i></a>
							{% elif post_item.post %}
							<a class="" data-bs-toggle="collapse" href="#collapseExample{{post_item.post.id}}" role="button"
							aria-expanded="false" aria-controls="collapseExample">
							<i class="material-icons  has-text-primary {% if count.3 %} has-text-danger {% else %} has-text-primary {% endif %}"
									style="cursor: pointer;" >redo</i></a>
							{% endif %}   
								<p><span >{{ count.2 }}</span> Shares</p>
							</div>
							
			</div>
					<div class="collapse" id="collapseExample{{post_item.post.id}}" style="margin-top:10px;">
					<div class="card card-body">
						<form action="{% url 'share' post_item.post.id %}" method="post" class="form-controll p-4 shadow" novalidate>
							{% csrf_token %}
							<label for="caption">Caption</label><br>
							<input type="text" name="caption" placeholder="Type something">
							<input type="submit" value="share" class="btn btn-primary">
						</form>
					</div>
				</div> 
			 </div>

 
    <div class="footer-right" style="width:140px;">
         <div class="media-right text-center"> 
           <a href="{% url 'postdetails' post_item.post.id %}"> <i  class="material-icons  has-text-primary" style="cursor: pointer;" data="{{post_item.post.id}}" >comment</i> </a>      
            <p ><span> {{ count.4 }}</span> Comments</p>  
          </div>
      <br>
    </div>

	</div>



</div>

			 {% endif  %}
			 <!-- share endif -->
			<br>
			
			{% endfor %}
			
			{% else %}
			
			<div class="no-post" style="text-align: center;margin-top: 20%;">
			<h1>No Post Availabe.</h1>
			<strong>suggestion: </strong>
			<p>Follow someone to get their posts. such as :</p>
			<a href="user/jacky">Babul Jack @jacky</a>
			</div>
			{% endif %}

	{% endif %} <!-- looking		 -->
			</div>
			</div>  
 

</div>


<div class="right">
		<div class="right-top">
			 <h1>You May Follow Them</h1>
	 </div>


	 
	 {% if suggestions %}
			 
		
		{% for suggest in suggestions %}

			 
	 <div class="suggestion">

			 <div class="sug-left">
			<a href="{% url 'profile' suggest.user %}"><img src=" 
			{% if suggest.user.picture %}
				
				 {{suggest.user.picture.url}} {% else %}  https://bulma.io/images/placeholders/96x96.png   {% endif %}" alt="" style="width:50px; height:50px;object-fit:cover;border-radius:50%;"></a> 
				 <a href="{% url 'profile' suggest.user %}" style="font-size:16px;">
				 {{suggest.user.first_name}} {{suggest.user.last_name}}
         {% if suggest.user.is_verified %}
                      <small class='material-icons ml-2' style="font-size:16px;color:blue;margin-top:15px;">verified</small>
         {% endif %}
           
				 </a>
				  
			</div>  
			<div class="follow">
				
				<a href="{% url 'following' suggest.user %}"> <i class="material-icons">person_add</i><span>Follow</span></a>
	 </div>
	</div>
	
	 {% endfor %}

	 {% else %}
 <h1 class="ml-2 p-3">No suggestion Availabe</h1>

	 {% endif %}


	 <div class="online">
		 <h1>Online Users</h1>

				 
				
				 <p>No Online user</p>

				 <img src="{% static 'img/offline.jpg' %}" alt="">
	 </div>

</div>

</div>



<script>
	
let likes =document.querySelectorAll('.likes');
let count=document.querySelectorAll('.count');
for(let i=0;i<likes.length;i++){

likes[i].addEventListener('click',function(){

			 let id=likes[i].getAttribute('data')
			 let url='/likes/'+id

					$.ajax({
					url:url,
					method:'GET',
					data:{},
					contentType:'application/json; charset=utf-8',
					dataType: 'json',

					success:function(res){
								
								data=res.active
					 
								if(data!=null){
							 
								count[i].innerHTML=res.likes    
								likes[i].classList.add(data) 
               

								}else{
								 
								count[i].innerHTML=res.likes    
								likes[i].classList.remove('has-text-danger')

								}
							 

						 
						
		

							

					}
		
					 })


})

};



let save=document.querySelectorAll('.save')
let output=document.querySelectorAll('.output')


for(let j=0;j<save.length;j++){

save[j].addEventListener('click',function(){
	
	let id=save[j].getAttribute('data')
	let url='/favourite/'+id

		 $.ajax({
		 url:url,
		 method:'GET',
		 data:{},
		 contentType:'application/json; charset=utf-8',
		 dataType: 'json',

		 success:function(res){
					 
					if(res.save==true){
						output[j].innerHTML='remove';
						save[j].classList.remove('has-text-primary');
						save[j].classList.add('has-text-danger')
					 
					} 
					else{

						output[j].innerHTML='save';
						save[j].classList.remove('has-text-danger');
						save[j].classList.add('has-text-primary')
					}
					console.log(res.save)
		 }

			})


});

};
</script>

{% endblock %}





