

{% extends 'accounts/base.html' %}
{% load humanize %}
{% load static %}
{% block assets %}
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
 



{% endblock %}
{% load detect %}

{% block content %}

	<section class="py-5 my-5">
		<div class="container">
			<h1 class="mb-5">Account Settings</h1>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<div class="img-circle text-center mb-3">
							{% if request.user.picture %}
							<img src="{{request.user.picture.url}}" alt="Image" class="shadow">
							{% else %}
							<img src="" alt="Image" class="shadow">
							{% endif %}
						</div>
						<h4 class="text-center">{{request.user.first_name}} {{request.user.last_name}}</h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link {{active}} " href="{% url 'settings' %}">
							<i class="fa fa-home text-center mr-1"></i> 
							General 
						</a>
						<a class="nav-link" href="{% url 'settings' %}?profile=change ">
							<i class="fa fa-user text-center mr-1"></i> 
							Profile Change
						</a>
						<a class="nav-link" href="{% url 'settings' %}?password=change ">
							<i class="fa fa-key text-center mr-1"></i> 
							Password
						</a>
						<a class="nav-link" href="{% url 'settings' %}?help=view ">
							<i class="fa fa-tv text-center mr-1"></i> 
							Help
						</a>
						<a class="nav-link" href="?report=true">
							<i class="fa fa-bell text-center mr-1"></i> 
							Report a Problem
						</a>
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					
                   <p id="message"></p>

                    <div class="row">
							
                        <form method="post" id="generalform">
                            {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                      <label>First Name</label>
                                      <input type="text" id="first_name" class="form-control" name='first_name' value="{{request.user.first_name}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                      <label>Last Name</label>
                                      <input type="text"  id="last_name" class="form-control" name='last_name' value="{{request.user.last_name}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" id="email"  class="form-control" name='email' value="{{request.user.email}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                      <label>Date of Birth</label>
                                      <p>Your current birthday: <span id="currentdb">{{request.user.db}}</span> </p>
                                      <input type="date" id="db"  class="form-control" name='db' >
                                </div>
                            </div>
                         
                        
                        </div>
                        <div>
                    
                            
                    
                    
                            <button type="submit" class="btn btn-primary" id="general">Update</button>
                            <a class="btn btn-primary" href="{% url 'settings' %}">Back</a>
                            
                            
                    
                                    
                            
                            
                        </div>
                          </form>
                    </div>


				</div>
			
			</div>
		</div>
	</section>

{% block js %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>


const gform=document.getElementById('generalform');
var message=document.getElementById('message');

gform.addEventListener('submit',function(e){
    e.preventDefault();
	
	let first_name=document.getElementById('first_name').value;
	let last_name=document.getElementById('last_name').value;
	let email=document.getElementById('email').value;
	let db=document.getElementById('db').value;
	let currentdb=document.getElementById('currentdb').innerText;
    //fixing date related issue
	function convert(str) {
			var date = new Date(str),
				mnth = ("0" + (date.getMonth() + 1)).slice(-2),
				day = ("0" + date.getDate()).slice(-2);
			return [date.getFullYear(), mnth, day].join("-");
		}

	if (!db){
		
		 db=convert(currentdb)

	}

    
    function dateformate(dateString){
		var dateParts = dateString.split("-");
        var dateObject = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]); 
		return dateObject.toDateString()
	}
    
    let formData =new FormData()
    formData.append('first_name',first_name)
	formData.append('last_name',last_name)
	formData.append('email',email)
	formData.append('db',db)
	formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
	fetch("{% url 'settings' %}?general=update",{
		method:"POST",
		body:formData
	}).then(response =>response.json())
	  .then(function(data){
		
		let cdb=document.getElementById('currentdb');
        message.innerHTML=data.information;
		newdate=dateformate(db);
        cdb.innerText=newdate;
     
		setTimeout(function(){
          message.innerHTML='';
		},2000)

	     })
	  .catch(function(error){
		console.error(error)
	})

})

//profile filter//





</script>


{% endblock %}

{% endblock %}