.profile-head {
    transform: translateY(5rem)
}

.cover {
    background:black;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;

}

body {
    min-height: 100vh;
}

/* 
sidebar */

.sidebar{
    height: 90vh;
    flex: 2.5;
    
}

.sidebar ul{
    margin-top: 10px;
    margin-bottom: 20px;
}

.sidebar ul li a{
    background-color: aquamarine;
    color:red;
    padding: 10px;
    display: block;
    margin:5px;
    border-radius: 40px;
    display: flex;
    transition: all .5s ease-in-out;
 
}

.sidebar ul li a i{
    margin-right: 10px;
    color:green;
}

.sidebar ul li a:hover{

    background-color:pink ;
    
}
.sidebar h1{
    font-weight: bold;
}


.recent p{
    margin: 5px;
    padding: 5px;
}
.recent p a{
    display: flex;
}
.recent p a i{
    margin-right: 5px;
}

.box{
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 850px){
    .box{
        width: 100%;
        margin: auto !important;
    }
        .profile-section{
            padding:0 !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;
            display: block;
           
        }

    .side{
        display: none !important;
    }
    .profile-section{
        margin: 0 auto !important;
    }
  }

/* quotes   */


